/* App.css */
.campus-map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.campus-map-image {
  width: 100%;
  max-width: 1200px; /* scale for large screens */
  height: auto;
  display: block;
}